body {
  min-width: 100%;
  padding: 0;
  background-color: #f2f2f2;
  Margin: 0; }

table {
  font-family: sans-serif;
  border-spacing: 0; }

td {
  padding: 0; }

img {
  border: 0; }

.wrapper {
  table-layout: fixed;
  background-color: #f2f2f2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.outer {
  width: 100%;
  max-width: 600px;
  Margin: 0 auto; }

/*Two column layout*/
.two-column {
  font-size: 0;
  text-align: center; }

.two-column .column {
  display: inline-block;
  width: 100%;
  max-width: 277px;
  vertical-align: top; }

.two-column .content {
  font-size: 14px;
  text-align: left; }

/*********************************
** VARS
*********************************/
/*********************************
** LETTER
*********************************/
.wrapper {
  color: #373638; }

.c-header__more {
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #a1a1a1; }

.c-header__logo {
  padding-bottom: 25px; }

.c-card {
  font-size: 14px;
  border-radius: 5px 4px 4px 5px;
  background-color: #fff; }
  .c-card > tr:first-child > td {
    padding-top: 30px; }
  .c-card > tr:last-child > td {
    padding-bottom: 40px; }
  .c-card > tr > td:first-child:not(.two-column) {
    padding-left: 6%; }
  .c-card > tr > td:last-child:not(.two-column) {
    padding-right: 6%; }
  .c-card__hr {
    padding-top: 15px; }
  .c-card__thumb {
    padding-bottom: 10px; }
  .c-card__thumb-img {
    padding-right: 23px;
    padding-left: 23px; }
  .c-card__thumb-desc {
    padding-top: 25px;
    padding-right: 40px; }
    .c-card__thumb-desc div {
      line-height: 20px; }
  .c-card__thumb-title {
    font-size: 29px;
    font-weight: 600;
    line-height: 38px;
    padding-top: 35px;
    padding-left: 40px; }
    .c-card__thumb-title div {
      line-height: 42px; }

.c-cats {
  font-size: 0;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: separate;
  border: 1px solid #dbdbdb;
  border-radius: 5px 4px 4px 5px;
  background-color: #fff; }
  .c-cats a {
    color: #373638; }
  .c-cats > tr > td:not(:first-child) {
    border-left: 1px solid #dbdbdb; }
  .c-cats > tr:not(:first-child) > td {
    border-top: 1px solid #dbdbdb; }
  .c-cats__wrapper {
    padding-bottom: 30px;
    text-align: center; }
  .c-cats__item {
    display: inline-block;
    width: 110px;
    vertical-align: top; }

.c-cat-item__pin {
  font-size: 12px;
  padding-right: 10px;
  color: #a1a1a1; }

.c-cat-item__thumb {
  font-size: 0;
  height: 65px; }
  .c-cat-item__thumb a {
    font-size: 0; }

.c-cat-item__title {
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px; }

.c-advantage__desc {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 35px;
  text-align: center; }

.c-plus-item__thumb {
  padding-bottom: 20px; }

.c-plus-item__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 5px; }

.c-plus-item__desc {
  font-size: 12px;
  line-height: 18px; }

.h1 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #373638; }
  .h1 div {
    line-height: 35px; }

.text {
  font-size: 14px;
  padding-bottom: 10px;
  color: #373638; }
  .text div {
    line-height: 1.5; }

.list > tr:last-child > td {
  padding-bottom: 0; }

.list__item {
  padding-bottom: 18px; }
  .list__item div {
    line-height: 11px; }

.list__counter {
  padding-right: 10px; }
  .list__counter img {
    font-size: 10px; }

a,
.link {
  text-decoration: none;
  color: #008fd5; }

.hr td {
  font-size: 0;
  border-top: 1px solid #dbdbdb; }
  .hr td div {
    line-height: 10px; }

.btn {
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #e50329; }

.is-accent {
  color: #e50329; }

.is-accent-alter {
  color: #30ab7f; }

.is-not-link {
  color: #373638; }

.footer {
  max-width: 600px;
  margin: 0 auto; }

.footer-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ec1b30; }
