-
	HOME = 'https://www.ulmart.ru/'
	// URL = './i/'
	URL = 'http://link.ulmart.ru/custloads/527016013/cyr/tritin/'
	TAKSA ='https://www.ulmart.ru/loyalty/landing'
	HOME = HOME + '?' + UTM
block vars
//- TEMPLATE
include ./_mixins.jade

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
	head
		+head
	body
		center.wrapper
			.webkit
				| <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
				+table({"class":"outer", "align":"center"})
					tr
						td
							+header
					tr
						td
								block letter
					tr
						td
							+cats
					tr
						td
							+footer
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
