extends ./_layout

//- //- CURRENT TEMPLATE
//- mixin letter(prop)

//- PRODUCTION
block letter

	+table({"class": "c-card"})
		tr
			td.h1
				div Здравствуйте, Владислав Ильич!
		tr
			td.text: div
				| Вы подали заявку на выпуск платёжной карты #[+a({"href": HOME}) Юлмарта].
				| <br> Мы очень рады, что вы решили стать нашим клиентом.
		tr
			td.c-card__thumb
				+table
					tr
						td
							img(src="#{URL + 'card.png'}" width="276" height="189" alt="Ваша карта")
						td: div.
							Мы создали вам личный кабинет
							на  #[+a({"href": HOME}) ulmart.ru], где будет храниться
							информация о ваших заказах.
							Также вы сможете участвовать
							в программе скидок #[+a({"href": HOME}) ТАКСА]
							и первым узнавать о специальных
							предложениях и акциях Юлмарта.
		tr
			td.h3 Ваш логин
		tr
			td.text: span.email nikolaevladislav@yandex.ru
		tr
			td.h3 Создайте пароль к личному кабинету, перейдя по ссылке
		tr
			td.text https://www.ulmart.ru/login?target=/autorizationcodeyourname

	+table({"class": "c-prove"})
		tr
			td.h2: div
				span Юлмарт – крупнейший
				| <br> онлайн-ретейлер России
		tr
			td.text: div.
				На #[+a({"href": HOME}) ulmart.ru] вы найдёте более 12 миллионов товаров: от ультрабуков, смартфонов и компьютеров до товаров для дома и автомобиля, детских товаров, косметики и цифрового контента. У нас свыше 400 представительств в 240 городах и доставка по всей России.

	+table({"class": "c-card"})
		tr
			td.h1: div Здравствуйте, Владислав Ильич!
		tr
			td.text: div Вам выпущена расчётная банковская карта «Юлмарт–Тинькофф», с которой любая покупка в #[+a({"href": HOME}) Юлмарте] становится ещё выгоднее!
		tr
			td.c-card__thumb
				+table
					tr
						td.c-card__accent: div.
							Используйте
							преимущества
							вашей карты!
						td
							img(src="#{URL + 'card.png'}" width="276" height="189" alt="Ваша карта")
		tr
			td
				- var debitList = ['Cashback 2% за покупки в Юлмарте и до 1,5% за остальные покупки;', 'Доходность на остаток по счёту — до 7%;', '300 бонусов в подарок при активации карты;', 'Бесплатное снятие наличных на сумму от 3 000 руб. в любых банкоматах;', 'Лучшее мобильное приложение и интернет-банк.']
				+list(debitList)

				- var creditList = ["Cashback 3% за покупки в Юлмарте и до 2% за все остальные покупки;", "500 бонусных баллов в подарок при активации карты;", "Более 300 000 точек бесплатного пополнения;", "Лучшее мобильное приложение и интернет-банк."]
				+list(debitList)

	+table({"class": "c-advantage"})
		tr
			td.h2: div
				span Компенсируйте бонусами
				<br> покупки в Юлмарте
		tr
			td.c-advantage__desc: div 1 бонус = 1 рубль
		tr
			td
				+pluses(advantages)
		tr
			td
				+btn({
					"link": HOME,
					"title": "За покупками — в Юлмарт!"
				})


