extends ./_layout

block vars
	-
		var UTM = 'from=mail_tin_welcome'
		HOME = HOME + '?' + UTM

//- PRODUCTION
block letter
	+table({"class": "c-card"})
		tr
			td.h1
				div Здравствуйте, <nobr>%%co_name%%&nbsp;%%co_secondname%%</nobr>!
		tr
			td.text: div
				| Вы подали заявку на выпуск платёжной карты #[+a({"href": HOME}) Юлмарта].
				| <br> Мы очень рады, что вы решили стать нашим клиентом.
		tr
			td.c-card__hr
				+hr
		tr
			td.two-column
				| <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><td width="50%" valign="top"><![endif]-->
				.column
					+table({"class":"content"})
						tr
							td.inner
								img(src="#{URL + 'card.png'}" width="276" height="189" alt="")
				| <!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="top"><![endif]-->
				.column
					+table({"class":"content"})
						tr
							td.inner.
								Мы создали вам личный кабинет
								на&nbsp;#[+a({"href": HOME}) ulmart.ru], где будет храниться
								информация о ваших заказах.
								Также&nbsp;вы сможете участвовать
								в&nbsp;программе скидок #[+a({"href": TAKSA}) ТАКСА]
								и&nbsp;первым узнавать о специальных
								предложениях и акциях Юлмарта.

				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
		tr
			td(style="padding-bottom:20px;")
				+hr
		tr
			td.text(style="padding-bottom:10px;"): div
				b.is-accent-alter Ваш логин: <br>
				span.is-not-link %% co_login%%
		tr
			td.text: div
				| #[b.is-accent-alter Создайте пароль] к личному кабинету, перейдя по ссылке: <br>
				span.link %%co_link_pass%%

		tr
			td
				+table({"class": "c-prove"})
					tr
						td(align="center" style="padding-top:20px; padding-bottom: 11px;")
							+table({"width":"480"})
								tr
									td(align="center").h1: div
										span.is-accent Юлмарт – крупнейший
										| <br> онлайн-ретейлер России*
								tr
									td(align="center" style="padding-top:10px;").text: div.
										На #[+a({"href": HOME}) ulmart.ru] вы найдёте более 12 миллионов товаров: от ультрабуков, смартфонов и компьютеров до товаров для дома и автомобиля, детских товаров, косметики и цифрового контента. У нас свыше 400&nbsp;представительств в 240 городах и доставка по всей России.



	//- 	tr
	//- 		td.c-card__thumb
	//- 			img(src="#{URL + 'card.png'}" width="276" height="189" alt="")
	//- 			+table
	//- 				tr
	//- 					td.c-card__thumb-img(valign="middle")
	//- 						img(src="#{URL + 'card.png'}" width="276" height="189" alt="")
	//- 					td(valign="top").c-card__thumb-desc: div.
	//- 						Мы создали вам личный кабинет
	//- 						на&nbsp;#[+a({"href": HOME}) ulmart.ru], где будет храниться
	//- 						информация о ваших заказах.
	//- 						Также&nbsp;вы сможете участвовать
	//- 						в&nbsp;программе скидок #[+a({"href": TAKSA}) ТАКСА]
	//- 						и&nbsp;первым узнавать о специальных
	//- 						предложениях и акциях Юлмарта.



	//- 	tr
	//- 		td(style="padding-bottom:20px;")
	//- 			+hr
	//- 	tr
	//- 		td.text(style="padding-bottom:10px;"): div
	//- 			b.is-accent-alter Ваш логин: <br>
	//- 			span.is-not-link %% co_login%%
	//- 	tr
	//- 	tr
	//- 		td.text: div
	//- 			| #[b.is-accent-alter Создайте пароль] к личному кабинету, перейдя по ссылке: <br>
	//- 			span.link %%co_link_pass%%

	//- +table({"class": "c-prove"})
	//- 	tr
	//- 		td(align="center" style="padding-top:20px; padding-bottom: 11px;")
	//- 			+table({"width":"480"})
	//- 				tr
	//- 					td(align="center").h1: div
	//- 						span.is-accent Юлмарт – крупнейший
	//- 						| <br> онлайн-ретейлер России*
	//- 				tr
	//- 					td(align="center" style="padding-top:10px;").text: div.
	//- 						На #[+a({"href": HOME}) ulmart.ru] вы найдёте более 12 миллионов товаров: от ультрабуков, смартфонов и компьютеров до товаров для дома и автомобиля, детских товаров, косметики и цифрового контента. У нас свыше 400&nbsp;представительств в 240 городах и доставка по всей России.

