/*********************************
** CORE
*********************************/

html,
body
{
    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;
}
/* Resets all body margins and padding to 0 for good measure */

body
{
    /* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;

        background-color: #f2f2f2;
}

table td
{
    border-spacing: 0;
    border-collapse: collapse;



    border: 0 none;
}
/*This resolves the Outlook 07, 10, and Gmail td padding issue. Heres more info: http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07 */

img
{
    line-height: 100%;

    height: auto;

    text-decoration: none;

    border: 0 none;
    outline: none;
    font-size:16px;
    white-space:pre;
}

a img
{
    border: 0 none;
}

table,
td
{
    border-collapse: collapse;
}

#backgroundTable
{
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;

    table-layout: fixed;

    background-color: #f2f2f2;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}



